{% extends "base2.html" %}
{% load static %}

{##########################################################################################################################}

{% block bootstrap %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock bootstrap %}

{##########################################################################################################################}

{% block css %}
    <link rel="stylesheet" href="{% static "css/password_reset_process.css" %}">
{% endblock %}

{##########################################################################################################################}

{% block title %}
    Set New Password | SimpleShop
{% endblock title %}

{##########################################################################################################################}

{% block contents %}
    <div class="auth-box">
        <h2 class="auth-title">Set a New Password</h2>
        <p class="mb-4">
            Please enter your new password below to complete the reset process.
        </p>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Enter new password"
                       name="new_password1">
                {% for error in form.new_password1.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password"
                       name="new_password2">
                {% for error in form.new_password2.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
        <div class="switch-link">
            <a href="{% url "accounts:login" %}">Back to Login</a>
        </div>
    </div>
{% endblock contents %}