<div style="font-family: Arial, sans-serif; line-height: 1.5; color: #333;">
    <p>Hello,</p>
    <p>We received a request to reset your password.</p>
    <p>
        Click the link below to set a new password:
    </p>
    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}"
           style="color: #1a73e8;">Reset Password</a>
    </p>
    <p>If you did not request this change, you can safely ignore this email.</p>
    <p>Thanks,<br>Your SimpleShop Team</p>
</div>
